In [76]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None, 'display.max_rows', None)

train = pd.read_csv('Data/W23P1_train_google.csv')
test = pd.read_csv('Data/W23P1_test_google.csv')

a = pd.read_csv('Data/Categorical_Data/Train/EWR_Dropoff.csv').rename(columns = {'Uid':'uid'})
b = pd.read_csv('Data/Categorical_Data/Train/EWR_Pickup.csv').rename(columns = {'Uid':'uid'})
c = pd.read_csv('Data/Categorical_Data/Train/JFK_Dropoff.csv').rename(columns = {'Uid':'uid'})
d = pd.read_csv('Data/Categorical_Data/Train/JFK_Pickup.csv').rename(columns = {'Uid':'uid'})
e = pd.read_csv('Data/Categorical_Data/Train/LGA_Dropoff.csv').rename(columns = {'Uid':'uid'})
f = pd.read_csv('Data/Categorical_Data/Train/LGA_Pickup.csv').rename(columns = {'Uid':'uid'})
g = pd.read_csv('Data/Categorical_Data/Train/Bronx_Dropoff.csv').rename(columns = {'Uid':'uid'})
h = pd.read_csv('Data/Categorical_Data/Train/Bronx_Pickup.csv').rename(columns = {'Uid':'uid'})
i = pd.read_csv('Data/Categorical_Data/Train/Brooklyn_Dropoff.csv').rename(columns = {'Uid':'uid'})
j = pd.read_csv('Data/Categorical_Data/Train/Brooklyn_Pickup.csv').rename(columns = {'Uid':'uid'})
k = pd.read_csv('Data/Categorical_Data/Train/Manhatten_Dropoff.csv').rename(columns = {'Uid':'uid'})
l = pd.read_csv('Data/Categorical_Data/Train/Manhatten_Pickup.csv').rename(columns = {'Uid':'uid'})
m = pd.read_csv('Data/Categorical_Data/Train/Queens_Dropoff.csv').rename(columns = {'Uid':'uid'})
n = pd.read_csv('Data/Categorical_Data/Train/Queens_Pickup.csv').rename(columns = {'Uid':'uid'})
o = pd.read_csv('Data/Categorical_Data/Train/Staten_Dropoff.csv').rename(columns = {'Uid':'uid'})
p = pd.read_csv('Data/Categorical_Data/Train/Staten_Pickup.csv').rename(columns = {'Uid':'uid'})
q = pd.read_csv('Data/Categorical_Data/Train/Outlier_Dropoff.csv').rename(columns = {'Uid':'uid'})
r = pd.read_csv('Data/Categorical_Data/Train/Outlier_Pickup.csv').rename(columns = {'Uid':'uid'})

a1 = pd.read_csv('Data/Categorical_Data/Test/EWR_Dropoff_test.csv')
b1 = pd.read_csv('Data/Categorical_Data/Test/EWR_Pickup_test.csv')
c1 = pd.read_csv('Data/Categorical_Data/Test/JFK_Dropoff_test.csv')
d1 = pd.read_csv('Data/Categorical_Data/Test/JFK_Pickup_test.csv')
e1 = pd.read_csv('Data/Categorical_Data/Test/LGA_Dropoff_test.csv')
f1 = pd.read_csv('Data/Categorical_Data/Test/LGA_Pickup_test.csv')
g1 = pd.read_csv('Data/Categorical_Data/Test/Bronx_Dropoff_test.csv')
h1 = pd.read_csv('Data/Categorical_Data/Test/Bronx_Pickup_test.csv')
i1 = pd.read_csv('Data/Categorical_Data/Test/Brooklyn_Dropoff_test.csv')
j1 = pd.read_csv('Data/Categorical_Data/Test/Brooklyn_Pickup_test.csv')
k1 = pd.read_csv('Data/Categorical_Data/Test/Manhatten_Dropoff_test.csv')
l1 = pd.read_csv('Data/Categorical_Data/Test/Manhatten_Pickup_test.csv')
m1 = pd.read_csv('Data/Categorical_Data/Test/Queens_Dropoff_test.csv')
n1 = pd.read_csv('Data/Categorical_Data/Test/Queens_Pickup_test.csv')
o1 = pd.read_csv('Data/Categorical_Data/Test/Staten_Dropoff_test.csv')
p1 = pd.read_csv('Data/Categorical_Data/Test/Staten_Pickup_test.csv')
q1 = pd.read_csv('Data/Categorical_Data/Test/Outlier_Dropoff_test.csv')
r1 = pd.read_csv('Data/Categorical_Data/Test/Outlier_Pickup_test.csv')

In [77]:
a['uid'] = a['uid'].astype('int')
b['uid'] = b['uid'].astype('int')
c['uid'] = c['uid'].astype('int')
d['uid'] = d['uid'].astype('int')
e['uid'] = e['uid'].astype('int')
f['uid'] = f['uid'].astype('int')
g['uid'] = g['uid'].astype('int')
h['uid'] = h['uid'].astype('int')
i['uid'] = i['uid'].astype('int')
j['uid'] = j['uid'].astype('int')
k['uid'] = k['uid'].astype('int')
l['uid'] = l['uid'].astype('int')
m['uid'] = m['uid'].astype('int')
n['uid'] = n['uid'].astype('int')
o['uid'] = o['uid'].astype('int')
p['uid'] = p['uid'].astype('int')
q['uid'] = q['uid'].astype('int')
r['uid'] = r['uid'].astype('int')

a1['uid'] = a1['uid'].astype('int')
b1['uid'] = b1['uid'].astype('int')
c1['uid'] = c1['uid'].astype('int')
d1['uid'] = d1['uid'].astype('int')
e1['uid'] = e1['uid'].astype('int')
f1['uid'] = f1['uid'].astype('int')
g1['uid'] = g1['uid'].astype('int')
h1['uid'] = h1['uid'].astype('int')
i1['uid'] = i1['uid'].astype('int')
j1['uid'] = j1['uid'].astype('int')
k1['uid'] = k1['uid'].astype('int')
l1['uid'] = l1['uid'].astype('int')
m1['uid'] = m1['uid'].astype('int')
n1['uid'] = n1['uid'].astype('int')
o1['uid'] = o1['uid'].astype('int')
p1['uid'] = p1['uid'].astype('int')
q1['uid'] = q1['uid'].astype('int')
r1['uid'] = r1['uid'].astype('int')

In [78]:
train['EWR_dropoff'] = np.where(np.isin(train['uid'], a['uid'].values), 1, 0)
train['EWR_pickup'] = np.where(np.isin(train['uid'], b['uid'].values), 1, 0)
train['JFK_dropoff'] = np.where(np.isin(train['uid'], c['uid'].values), 1, 0)
train['JFK_pickup'] = np.where(np.isin(train['uid'], d['uid'].values), 1, 0)
train['LGA_dropoff'] = np.where(np.isin(train['uid'], e['uid'].values), 1, 0)
train['LGA_pickup'] = np.where(np.isin(train['uid'], f['uid'].values), 1, 0)

train['Bronx_dropoff'] = np.where(np.isin(train['uid'], g['uid'].values), 1, 0)
train['Bronx_pickup'] = np.where(np.isin(train['uid'], h['uid'].values), 1, 0)
train['Brooklyn_dropoff'] = np.where(np.isin(train['uid'], i['uid'].values), 1, 0)
train['Brooklyn_pickup'] = np.where(np.isin(train['uid'], j['uid'].values), 1, 0)
train['Manhatten_dropoff'] = np.where(np.isin(train['uid'], k['uid'].values), 1, 0)
train['Manhatten_pickup'] = np.where(np.isin(train['uid'], l['uid'].values), 1, 0)

train['Queens_dropoff'] = np.where(np.isin(train['uid'], m['uid'].values), 1, 0)
train['Queens_pickup'] = np.where(np.isin(train['uid'], n['uid'].values), 1, 0)
train['Staten_dropoff'] = np.where(np.isin(train['uid'], o['uid'].values), 1, 0)
train['Staten_pickup'] = np.where(np.isin(train['uid'], p['uid'].values), 1, 0)
train['Outlier_dropoff'] = np.where(np.isin(train['uid'], q['uid'].values), 1, 0)
train['Outlier_pickup'] = np.where(np.isin(train['uid'], r['uid'].values), 1, 0)

In [79]:
test['EWR_dropoff'] = np.where(np.isin(test['uid'], a1['uid'].values), 1, 0)
test['EWR_pickup'] = np.where(np.isin(test['uid'], b1['uid'].values), 1, 0)
test['JFK_dropoff'] = np.where(np.isin(test['uid'], c1['uid'].values), 1, 0)
test['JFK_pickup'] = np.where(np.isin(test['uid'], d1['uid'].values), 1, 0)
test['LGA_dropoff'] = np.where(np.isin(test['uid'], e1['uid'].values), 1, 0)
test['LGA_pickup'] = np.where(np.isin(test['uid'], f1['uid'].values), 1, 0)

test['Bronx_dropoff'] = np.where(np.isin(test['uid'], g1['uid'].values), 1, 0)
test['Bronx_pickup'] = np.where(np.isin(test['uid'], h1['uid'].values), 1, 0)
test['Brooklyn_dropoff'] = np.where(np.isin(test['uid'], i1['uid'].values), 1, 0)
test['Brooklyn_pickup'] = np.where(np.isin(test['uid'], j1['uid'].values), 1, 0)
test['Manhatten_dropoff'] = np.where(np.isin(test['uid'], k1['uid'].values), 1, 0)
test['Manhatten_pickup'] = np.where(np.isin(test['uid'], l1['uid'].values), 1, 0)

test['Queens_dropoff'] = np.where(np.isin(test['uid'], m1['uid'].values), 1, 0)
test['Queens_pickup'] = np.where(np.isin(test['uid'], n1['uid'].values), 1, 0)
test['Staten_dropoff'] = np.where(np.isin(test['uid'], o1['uid'].values), 1, 0)
test['Staten_pickup'] = np.where(np.isin(test['uid'], p1['uid'].values), 1, 0)
test['Outlier_dropoff'] = np.where(np.isin(test['uid'], q1['uid'].values), 1, 0)
test['Outlier_pickup'] = np.where(np.isin(test['uid'], r1['uid'].values), 1, 0)

In [80]:
train.head()

,uid,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,distance,duration,EWR_dropoff,EWR_pickup,JFK_dropoff,JFK_pickup,LGA_dropoff,LGA_pickup,Bronx_dropoff,Bronx_pickup,Brooklyn_dropoff,Brooklyn_pickup,Manhatten_dropoff,Manhatten_pickup,Queens_dropoff,Queens_pickup,Staten_dropoff,Staten_pickup,Outlier_dropoff,Outlier_pickup
0,31722,9.0,2013-01-07 01:50:51 UTC,-73.991421,40.750160,-73.989490,40.726085,2,2.3,15,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0
1,14674,14.0,2013-01-15 20:08:00 UTC,-73.997945,40.741057,-73.956223,40.767312,6,4.1,19,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0
2,37571,19.5,2013-01-20 00:25:55 UTC,-73.999161,40.688531,-74.026611,40.616634,1,6.3,12,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0
3,47583,6.0,2013-01-01 02:30:00 UTC,-73.991490,40.744257,-73.980912,40.748492,1,0.9,7,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0
4,29473,33.5,2013-01-02 10:45:00 UTC,-73.972773,40.677702,-73.862242,40.768117,1,11.3,25,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0

In [81]:
test.head()

,uid,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,distance,duration,flag,EWR_dropoff,EWR_pickup,JFK_dropoff,JFK_pickup,LGA_dropoff,LGA_pickup,Bronx_dropoff,Bronx_pickup,Brooklyn_dropoff,Brooklyn_pickup,Manhatten_dropoff,Manhatten_pickup,Queens_dropoff,Queens_pickup,Staten_dropoff,Staten_pickup,Outlier_dropoff,Outlier_pickup
0,3,2013-01-29 09:59:26 UTC,-73.987309,40.729064,-73.993770,40.721086,1,0.7,5,NaN,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0
1,10,2013-01-05 14:56:36 UTC,-73.978188,40.754557,-73.973773,40.760330,2,0.5,3,NaN,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0
2,15,2013-01-22 14:48:00 UTC,-73.973310,40.789970,-73.948010,40.778685,5,2.0,13,NaN,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0
3,16,2013-01-11 23:14:10 UTC,-73.984608,40.728920,-73.991357,40.688171,2,5.0,16,NaN,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0
4,17,2013-01-31 02:59:44 UTC,-73.990671,40.724603,-73.983896,40.665502,2,4.8,26,NaN,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0

In [104]:
ins = test.merge(train[['fare_amount', 'pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude']], 
                 how = 'inner', on = ['pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude']).drop_duplicates()

ins

,uid,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,distance,duration,flag,EWR_dropoff,EWR_pickup,JFK_dropoff,JFK_pickup,LGA_dropoff,LGA_pickup,Bronx_dropoff,Bronx_pickup,Brooklyn_dropoff,Brooklyn_pickup,Manhatten_dropoff,Manhatten_pickup,Queens_dropoff,Queens_pickup,Staten_dropoff,Staten_pickup,Outlier_dropoff,Outlier_pickup,fare_amount
0,1293,2013-01-15 07:13:00 UTC,-73.945297,40.783367,-73.945297,40.783367,1,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,6.50
2,19491,2013-01-08 22:07:00 UTC,-73.945297,40.783367,-73.945297,40.783367,1,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,6.50
4,47496,2013-01-11 14:46:00 UTC,-73.945297,40.783367,-73.945297,40.783367,1,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,6.50
6,55165,2013-01-22 18:00:00 UTC,-73.945297,40.783367,-73.945297,40.783367,1,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,6.50
8,66226,2013-01-11 07:57:00 UTC,-73.945297,40.783367,-73.945297,40.783367,1,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,6.50
10,2071,2013-01-22 13:31:00 UTC,-73.965037,40.759425,-73.965037,40.759425,5,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,6.00
11,2071,2013-01-22 13:31:00 UTC,-73.965037,40.759425,-73.965037,40.759425,5,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,7.00
12,26758,2013-01-28 10:27:00 UTC,-73.965037,40.759425,-73.965037,40.759425,5,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,6.00
13,26758,2013-01-28 10:27:00 UTC,-73.965037,40.759425,-73.965037,40.759425,5,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,7.00
14,17659,2013-01-26 11:55:00 UTC,-73.993023,40.737008,-73.993023,40.737008,5,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,7.00
15,17659,2013-01-26 11:55:00 UTC,-73.993023,40.737008,-73.993023,40.737008,5,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,3.50
16,17659,2013-01-26 11:55:00 UTC,-73.993023,40.737008,-73.993023,40.737008,5,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,9.50
17,53993,2013-01-24 18:42:00 UTC,-73.993023,40.737008,-73.993023,40.737008,5,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,7.00
18,53993,2013-01-24 18:42:00 UTC,-73.993023,40.737008,-73.993023,40.737008,5,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,3.50
19,53993,2013-01-24 18:42:00 UTC,-73.993023,40.737008,-73.993023,40.737008,5,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,9.50
20,19836,2013-01-21 13:10:55 UTC,-73.995932,40.760873,-73.995932,40.760873,1,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,6.50
21,23518,2013-01-12 08:46:00 UTC,-73.937525,40.758147,-73.937525,40.758147,1,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,5.50
22,23518,2013-01-12 08:46:00 UTC,-73.937525,40.758147,-73.937525,40.758147,1,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,14.00
23,23518,2013-01-12 08:46:00 UTC,-73.937525,40.758147,-73.937525,40.758147,1,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,14.50
24,23518,2013-01-12 08:46:00 UTC,-73.937525,40.758147,-73.937525,40.758147,1,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,6.50
26,23518,2013-01-12 08:46:00 UTC,-73.937525,40.758147,-73.937525,40.758147,1,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,16.50
27,41381,2013-01-06 21:15:00 UTC,-73.937525,40.758147,-73.937525,40.758147,1,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,5.50
28,41381,2013-01-06 21:15:00 UTC,-73.937525,40.758147,-73.937525,40.758147,1,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,14.00
29,41381,2013-01-06 21:15:00 UTC,-73.937525,40.758147,-73.937525,40.758147,1,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,14.50
30,41381,2013-01-06 21:15:00 UTC,-73.937525,40.758147,-73.937525,40.758147,1,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,6.50
32,41381,2013-01-06 21:15:00 UTC,-73.937525,40.758147,-73.937525,40.758147,1,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,16.50
33,24310,2013-01-09 00:17:00 UTC,-73.937583,40.758012,-73.937583,40.758012,5,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,23.50
34,24310,2013-01-09 00:17:00 UTC,-73.937583,40.758012,-73.937583,40.758012,5,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,11.50
35,24310,2013-01-09 00:17:00 UTC,-73.937583,40.758012,-73.937583,40.758012,5,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,13.50
36,24310,2013-01-09 00:17:00 UTC,-73.937583,40.758012,-73.937583,40.758012,5,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,8.50
37,25828,2013-01-04 17:11:00 UTC,-73.937583,40.758012,-73.937583,40.758012,5,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,23.50
38,25828,2013-01-04 17:11:00 UTC,-73.937583,40.758012,-73.937583,40.758012,5,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,11.50
39,25828,2013-01-04 17:11:00 UTC,-73.937583,40.758012,-73.937583,40.758012,5,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,13.50
40,25828,2013-01-04 17:11:00 UTC,-73.937583,40.758012,-73.937583,40.758012,5,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,8.50
41,51990,2013-01-22 19:25:00 UTC,-73.937583,40.758012,-73.937583,40.758012,2,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,23.50
42,51990,2013-01-22 19:25:00 UTC,-73.937583,40.758012,-73.937583,40.758012,2,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,11.50
43,51990,2013-01-22 19:25:00 UTC,-73.937583,40.758012,-73.937583,40.758012,2,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,13.50
44,51990,2013-01-22 19:25:00 UTC,-73.937583,40.758012,-73.937583,40.758012,2,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,8.50
45,63546,2013-01-30 01:38:00 UTC,-73.937583,40.758012,-73.937583,40.758012,5,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,23.50
46,63546,2013-01-30 01:38:00 UTC,-73.937583,40.758012,-73.937583,40.758012,5,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,11.50
47,63546,2013-01-30 01:38:00 UTC,-73.937583,40.758012,-73.937583,40.758012,5,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,13.50
48,63546,2013-01-30 01:38:00 UTC,-73.937583,40.758012,-73.937583,40.758012,5,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,8.50
49,67320,2013-01-23 00:18:00 UTC,-73.937583,40.758012,-73.937583,40.758012,2,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,23.50
50,67320,2013-01-23 00:18:00 UTC,-73.937583,40.758012,-73.937583,40.758012,2,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,11.50
51,67320,2013-01-23 00:18:00 UTC,-73.937583,40.758012,-73.937583,40.758012,2,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,13.50
52,67320,2013-01-23 00:18:00 UTC,-73.937583,40.758012,-73.937583,40.758012,2,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,8.50
53,26996,2013-01-27 06:00:00 UTC,-73.990782,40.770647,-73.990782,40.770647,1,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,5.50
54,32200,2013-01-23 22:22:38 UTC,-73.985871,40.684943,-73.985871,40.684943,1,1.0,1,NaN,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,85.25
55,32200,2013-01-23 22:22:38 UTC,-73.985871,40.684943,-73.985871,40.684943,1,1.0,1,NaN,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,18.00
56,35481,2013-01-11 14:47:26 UTC,-73.985871,40.684943,-73.985871,40.684943,1,1.0,1,NaN,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,85.25
57,35481,2013-01-11 14:47:26 UTC,-73.985871,40.684943,-73.985871,40.684943,1,1.0,1,NaN,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,18.00
58,36790,2013-01-18 23:19:00 UTC,-74.008285,40.712830,-74.008285,40.712830,1,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,7.50
59,36790,2013-01-18 23:19:00 UTC,-74.008285,40.712830,-74.008285,40.712830,1,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,15.50
60,36790,2013-01-18 23:19:00 UTC,-74.008285,40.712830,-74.008285,40.712830,1,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,5.50
61,38016,2013-01-27 00:28:01 UTC,-73.936308,40.764968,-73.936308,40.764968,1,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,5.50
62,45130,2013-01-12 20:35:00 UTC,-73.977380,40.631965,-73.977380,40.631965,1,1.0,1,NaN,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,20.50
63,45130,2013-01-12 20:35:00 UTC,-73.977380,40.631965,-73.977380,40.631965,1,1.0,1,NaN,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,17.00
64,51261,2013-01-22 18:22:00 UTC,-73.977380,40.631965,-73.977380,40.631965,1,1.0,1,NaN,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,20.50
65,51261,2013-01-22 18:22:00 UTC,-73.977380,40.631965,-73.977380,40.631965,1,1.0,1,NaN,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,17.00
66,45801,2013-01-30 10:07:00 UTC,-73.985837,40.722142,-73.985837,40.722142,1,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,13.50
67,54756,2013-01-04 08:33:58 UTC,-73.974389,40.752985,-73.974389,40.752985,2,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,6.50
68,54756,2013-01-04 08:33:58 UTC,-73.974389,40.752985,-73.974389,40.752985,2,1.0,1,NaN,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,9.00

In [108]:
ins2 = pd.DataFrame(ins.groupby('uid')['fare_amount'].mean()).reset_index(drop = False)
ins2.head()

     uid  fare_amount
0   1293     6.500000
1   2071     6.500000
2  17659     6.666667
3  19491     6.500000
4  19836     6.500000

In [113]:
ins2.fare_amount.values

array([ 6.5       ,  6.5       ,  6.66666667,  6.5       ,  6.5       ,
       11.4       , 14.25      , 14.25      ,  6.5       ,  5.5       ,
       51.625     , 51.625     ,  9.5       ,  5.5       , 11.4       ,
       18.75      , 13.5       ,  6.5       , 18.75      , 14.25      ,
        6.66666667,  7.75      ,  6.5       , 14.25      ,  6.5       ,
       14.25      ])

In [109]:
ins2.shape

(26, 2)

In [111]:
test[np.isin(test['uid'], ins['uid'])].index

Int64Index([  631,  1044,  8718,  9614,  9784, 11654, 12032, 12810, 13254,
            13374, 16042, 17660, 18328, 18930, 20616, 22499, 22829, 23702,
            25597, 25958, 26925, 27347, 27552, 31726, 33099, 33668],
           dtype='int64')